#!/bin/bash

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

alias xargs="xargs "

alias nviml="nvim --listen ~/.cache/nvim/server.sock"
alias nvr="nvim --server ~/.cache/nvim/server.sock"

alias ls="command ls ${colorflag}"
alias ll="ls -lh"
alias vim="nvim"

alias gprunesquashmerged='git checkout -q master && git for-each-ref refs/heads/ "--format=%(refname:short)" | while read branch; do mergeBase=$(git merge-base master $branch) && [[ $(git cherry master $(git commit-tree $(git rev-parse "$branch^{tree}") -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done'

