#!/bin/bash

if [ -z "$EDITOR" ]; then
    export EDITOR=vim
fi

export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd";

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export RIPGREP_CONFIG_PATH="${HOME}/.ripgreprc"

export FZF_DEFAULT_COMMAND='rg --files --color=never --glob ""'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
