#!/bin/bash

rtma() {
    ssh -A -t $1 "tmux attach || tmux new"
}

pyrg() {
    rg --type python "$@"
}

jsrg() {
    rg --type js "$@"
}

gcd() {
    local repo=$(git rev-parse --show-toplevel)
    if [ $# -eq 0 ]; then
        cd $repo
    else 
        cd $repo && cd "$@"
    fi
}

yqdm() {
    local command
    command="$1"
    shift 1
    set -o pipefail
    for f in $@; do
        if yq -e "$command" "$f" > /dev/null 2>&1; then
            yq "$command" "$f" | (diff -Bw "$f" - || true) | patch "$f" -
        fi
    done
}
